/* general adjustments */

@import url('https://fonts.googleapis.com/css?family=VT323');

:root {
    --jedi-blue: #00355C;
    --sith-red: #710201;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323';
}

body {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* character select screen */

.character-selector {
    display: flex;
    position: absolute;
    flex-direction: row;
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
}

.choose-your-char {
    font-size: 8rem;
    color: white;
    position: absolute;
    top: -100px;
    text-align: center;
    width: 100%;
}

.jedi {
    background-color: var(--jedi-blue);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.vs {
    background: repeating-linear-gradient(78.69deg, var(--jedi-blue) 0%, var(--jedi-blue) 50%, var(--sith-red) 50%, var(--sith-red) 100%);
    height: 500px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.sith {
    background-color: var(--sith-red);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.jedi, .sith {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.photo-div {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid goldenrod;
    justify-self: center;
}

.jedi > .photo-div {
    background-color: #001e33;
}

.sith > .photo-div {
    background-color: #3d0100;
}

.photo-div > img {
    height: 140px;
    width: auto;
}

.photo-div:hover {
    background-color: rgb(173, 131, 24);
}