/* general adjustments */

@import url('https://fonts.googleapis.com/css?family=VT323');

:root {
    --jedi-blue: #00355C;
    --sith-red: #710201;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323';
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

body {
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* character select screen */

.character-selector {
    display: flex;
    position: absolute;
    flex-direction: row;
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
}

.choose-your-char {
    font-size: 8rem;
    color: white;
    position: absolute;
    top: -100px;
    text-align: center;
    width: 100%;
}

.jedi {
    background-color: var(--jedi-blue);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.vs {
    background: repeating-linear-gradient(78.69deg, var(--jedi-blue) 0%, var(--jedi-blue) 50%, var(--sith-red) 50%, var(--sith-red) 100%);
    height: 500px;
    width: 100px;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    font-size: 3rem;
}

.vs > span {
    align-self: end;
    text-align: center;
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    height: 50px;
    width: 130px;
    background-color: black;
    color: wheat;
    align-self: end;
    z-index: 1;
    margin-bottom: 5px;
    cursor: pointer;
}

.start-game:hover {
    background-color: rgb(14, 14, 14);
}

.sith {
    background-color: var(--sith-red);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.jedi, .sith {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.photo-div {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid goldenrod;
    justify-self: center;
    cursor: pointer;
}

.jedi > .photo-div {
    background-color: #001e33;
}

.sith > .photo-div {
    background-color: #3d0100;
}

.photo-div > img {
    height: 120px;
    width: auto;
}

.photo-div:hover {
    background-color: rgb(173, 131, 24);
}